---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/without-go-mod
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1539547890'
      Etag:
      - W/"9de06b64773455764ee5a24d55bd600b"
      Last-Modified:
      - Sun, 14 Oct 2018 19:25:41 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/without-go-mod","node_id":"MDM6UmVmMTUzMDA4NTQxOndpdGhvdXQtZ28tbW9k","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/without-go-mod","object":{"sha":"d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d","type":"commit","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/commits/d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d"}}'
  recorded_at: Sun, 14 Oct 2018 19:33:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/?ref=d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1539547890'
      Etag:
      - W/"8493b1f0b35078913095d4bfb7b7ae86c6fabf49"
      Last-Modified:
      - Sun, 14 Oct 2018 19:25:41 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"go.sum","path":"go.sum","sha":"8ca1633b2d6b54a5c3ba889c167c4617d3ab0ef8","size":499,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.sum?ref=d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d/go.sum","git_url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/8ca1633b2d6b54a5c3ba889c167c4617d3ab0ef8","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/go-modules-lib/d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d/go.sum","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.sum?ref=d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d","git":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/8ca1633b2d6b54a5c3ba889c167c4617d3ab0ef8","html":"https://github.com/dependabot-fixtures/go-modules-lib/blob/d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d/go.sum"}},{"name":"main.go","path":"main.go","sha":"fe50cd1cd5a72c588d896251c4a0b511cccdc56b","size":94,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/main.go?ref=d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d/main.go","git_url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/fe50cd1cd5a72c588d896251c4a0b511cccdc56b","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/go-modules-lib/d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d/main.go","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/main.go?ref=d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d","git":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/fe50cd1cd5a72c588d896251c4a0b511cccdc56b","html":"https://github.com/dependabot-fixtures/go-modules-lib/blob/d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d/main.go"}}]'
  recorded_at: Sun, 14 Oct 2018 19:33:16 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.sum?ref=d455ffdfb0a0b03adb1d1c86cf2aea1dd6157d7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
