---
http_interactions:
- request:
    method: get
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-bundler/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-bundler:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required"}]}

        '
  recorded_at: Tue, 09 May 2023 14:34:53 GMT
- request:
    method: get
    uri: https://ghcr.io/token?account&scope=repository:dependabot/dependabot-updater-bundler:pull&service=ghcr.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: UTF-8
      string: '{"token":"djE6ZGVwZW5kYWJvdC9kZXBlbmRhYm90LXVwZGF0ZXItYnVuZGxlcjoxNjgzNjQyODk0MTY3NjQ1NzE1"}

        '
  recorded_at: Tue, 09 May 2023 14:34:54 GMT
- request:
    method: get
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-bundler/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
      Link:
      - </v2/dependabot/dependabot-updater-bundler/tags/list?last=096b7ad1ddf2ec7f43062409e0b6c945240a9351&n=0>;
        rel="next"
    body:
      encoding: UTF-8
      string: '{"name":"dependabot/dependabot-updater-bundler","tags":["4f5a9f512bc17fc5df6d69a42aa1b6a2e9c56774","bcec9bfa29134dfc8dd0d94398df0c0b66773d35","f2380a876740d28da857c7574afcf52dc0df26db","6ee1e7552b1a16aa20afeab95be220f5c9e71a33","20829bbc2991ec166273e20cdb3a67a4312bd373","latest","v2.0.20230120213643","af4223f0556babe2401b9cfc1fb33bc30c311e8f","07e27585e627d84211b405e003e748983d778c55","v2.0.20230120220754","2f6326a789d3ddb476882f38eda888f7cb506733","2240c9797aa46128974e1c11cf7de6bb2d6287df","v2.0.20230120233830","74ae422efdf505878252ca0f166c7d8e0e40[...]
- request:
    method: get
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-bundler/tags/list?last=096b7ad1ddf2ec7f43062409e0b6c945240a9351
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-bundler:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required"}]}

        '
  recorded_at: Tue, 09 May 2023 14:34:54 GMT
[...]
- request:
    method: get
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-bundler/tags/list?last=v2.0.20230131150801
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-bundler:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required"}]}

        '
  recorded_at: Tue, 09 May 2023 14:34:55 GMT
[...]
- request:
    method: head
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-bundler/manifests/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-bundler:pull"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 May 2023 14:35:06 GMT
[...]
- request:
    method: head
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-bundler/manifests/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.docker.distribution.manifest.v2+json
      Docker-Content-Digest:
      - sha256:e8066a0fddb33fba71c5d78c0901d075cc9c6dd90d4251593c846a727b0000e5
      Docker-Distribution-Api-Version:
      - registry/2.0
      Etag:
      - '"sha256:e8066a0fddb33fba71c5d78c0901d075cc9c6dd90d4251593c846a727b0000e5"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 May 2023 14:35:06 GMT
- request:
    method: head
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-bundler/manifests/v2.0.20230509134123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-bundler:pull"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 May 2023 14:35:09 GMT
[...]
- request:
    method: get
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-cargo/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-cargo:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required"}]}

        '
  recorded_at: Tue, 09 May 2023 14:35:09 GMT
- request:
    method: get
    uri: https://ghcr.io/token?account&scope=repository:dependabot/dependabot-updater-cargo:pull&service=ghcr.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: UTF-8
      string: '{"token":"djE6ZGVwZW5kYWJvdC9kZXBlbmRhYm90LXVwZGF0ZXItY2FyZ286MTY4MzY0MjkwOTg4NjkyOTU1MQ=="}

        '
  recorded_at: Tue, 09 May 2023 14:35:09 GMT
[...]
- request:
    method: get
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-cargo/tags/list?last=f5e17a9ab4bd15568cfdbbfab7469cc393776a0e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-cargo:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required"}]}

        '
  recorded_at: Tue, 09 May 2023 14:35:10 GMT
[...]
- request:
    method: get
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-cargo/tags/list?last=v2.0.20230302151411
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-cargo:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required"}]}

        '
  recorded_at: Tue, 09 May 2023 14:35:13 GMT
[...]
- request:
    method: head
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-cargo/manifests/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-cargo:pull"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 May 2023 14:35:21 GMT
[...]
- request:
    method: head
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-cargo/manifests/v2.0.20230509134123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="https://ghcr.io/token",service="ghcr.io",scope="repository:dependabot/dependabot-updater-cargo:pull"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 May 2023 14:35:24 GMT
[...]
- request:
    method: head
    uri: https://ghcr.io/v2/dependabot/dependabot-updater-cargo/manifests/v2.0.20230509134123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.docker.distribution.manifest.v2+json
      Docker-Content-Digest:
      - sha256:691af541d818e510f1259ecc13690faec9eafcf30d1f36c5f249c75b0c4ade73
      Docker-Distribution-Api-Version:
      - registry/2.0
      Etag:
      - '"sha256:691af541d818e510f1259ecc13690faec9eafcf30d1f36c5f249c75b0c4ade73"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 May 2023 14:35:24 GMT
recorded_with: VCR 6.1.0
