---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3-flatcontainer/microsoft.extensions.dependencymodel/1.1.1/microsoft.extensions.dependencymodel.nuspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-md5:
      - G4ltssrTfFozXHcyy59bTw==
      content-type:
      - text/xml
      etag:
      - '0x8D6647C72F3D079'
      last-modified:
      - Tue, 18 Dec 2018 00:04:58 GMT
      x-cdn-rewrite:
      - Root path in dist
      x-ms-blob-type:
      - BlockBlob
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2009-09-19'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<package xmlns=\"http://schemas.microsoft.com/packaging/2012/06/nuspec.xsd\">\r\n
        \ <metadata>\r\n    <id>Microsoft.Extensions.DependencyModel</id>\r\n    <version>1.1.1</version>\r\n
        \   <authors>Microsoft.Extensions.DependencyModel</authors>\r\n    <owners>Microsoft.Extensions.DependencyModel</owners>\r\n
        \   <requireLicenseAcceptance>false</requireLicenseAcceptance>\r\n    <description>Abstractions
        for reading `.deps` files.</description>\r\n    <tags></tags>\r\n    <serviceable>true</serviceable>\r\n
        \   <dependencies>\r\n      <group targetFramework=\".NETFramework4.5.1\">\r\n
        \       <dependency id=\"Microsoft.DotNet.PlatformAbstractions\" version=\"[1.1.1,
        )\" />\r\n        <dependency id=\"Newtonsoft.Json\" version=\"[9.0.1, )\"
        />\r\n      </group>\r\n      <group targetFramework=\".NETStandard1.3\">\r\n
        \       <dependency id=\"System.Diagnostics.Debug\" version=\"[4.0.11, )\"
        />\r\n        <dependency id=\"System.Dynamic.Runtime\" version=\"[4.0.11,
        )\" />\r\n        <dependency id=\"System.Linq\" version=\"[4.1.0, )\" />\r\n
        \       <dependency id=\"Microsoft.DotNet.PlatformAbstractions\" version=\"[1.1.1,
        )\" />\r\n        <dependency id=\"Newtonsoft.Json\" version=\"[9.0.1, )\"
        />\r\n      </group>\r\n      <group targetFramework=\".NETStandard1.6\">\r\n
        \       <dependency id=\"System.Diagnostics.Debug\" version=\"[4.0.11, )\"
        />\r\n        <dependency id=\"System.Dynamic.Runtime\" version=\"[4.0.11,
        )\" />\r\n        <dependency id=\"System.Linq\" version=\"[4.1.0, )\" />\r\n
        \       <dependency id=\"Microsoft.DotNet.PlatformAbstractions\" version=\"[1.1.1,
        )\" />\r\n        <dependency id=\"Newtonsoft.Json\" version=\"[9.0.1, )\"
        />\r\n      </group>\r\n    </dependencies>\r\n  </metadata>\r\n</package>"
  recorded_at: Fri, 10 Nov 2023 20:23:31 GMT
[...]
