version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/updater"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"

  # Watch the per-ecosystem native helpers
  - package-ecosystem: "composer"
    directory: "/composer/helpers/v1"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    groups:
      dev-dependencies:
        patterns:
          - "friendsofphp/php-cs-fixer"
          - "phpstan/phpstan"
  - package-ecosystem: "composer"
    directory: "/composer/helpers/v2"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    groups:
      dev-dependencies:
        patterns:
          - "friendsofphp/php-cs-fixer"
          - "phpstan/phpstan"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
  - package-ecosystem: "gomod"
    directory: "/go_modules/helpers"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
  - package-ecosystem: "mix"
    directory: "/hex/helpers"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
  - package-ecosystem: "npm"
    directory: "/npm_and_yarn/helpers"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    groups:
      npm-dependencies:
        patterns:
          - "@npmcli/arborist"
          - "detect-indent"
          - "nock"
          - "npm"
          - "semver"
        exclude-patterns:
          - "aws-sdk"
      yarn-dependencies:
        patterns:
          - "@dependabot/yarn-lib"
      pnpm-dependencies:
        patterns:
          - "@pnpm/lockfile-file"
          - "@pnpm/dependency-path"
      dev-dependencies:
        patterns:
          - "*eslint*"
          - "*jest*"
          - "*prettier"
    ignore:
      - dependency-name: "npm"
        update-types: ["version-update:semver-major"]      
      - dependency-name: "detect-indent"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/python/helpers"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
  - package-ecosystem: "pub"
    directory: "/pub/helpers"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
