---
http_interactions:
  - request:
      method: get
      uri: https://api.opentofu.org/registry/docs/providers/hashicorp/aws/v3.40.0/index.json
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string: '{"id": "v3.40.0", "published": "2021-05-13T23:18:37Z", "docs":{"index":{"name":"index","edit_link":"https://github.com/opentofu/terraform-provider-aws/blob/v3.40.0/website/docs/index.html.markdown"}}}'
    recorded_at: Fri, 24 Oct 2025 17:09:34 GMT
recorded_with: VCR 6.3.1
