/.core-bash_history
/.env
/.envrc
/.git
/.github
/.vscode-server-insiders/
/.vscode-server/
/.vscode/
/dependabot-*.gem
/dry-run
/pkg
/vendor
/tmp
**/.bundle
**/coverage
**/Gemfile.lock
!updater/Gemfile.lock
!updater/spec/fixtures/**/Gemfile.lock
**/node_modules
!**/spec/fixtures/*
git.store
.DS_Store
*.pyc
Dockerfile*
