/.bundle/
/.env
/tmp
/dependabot-*.gem
Gemfile.lock
/helpers/yarn/node_modules
/helpers/npm/node_modules
/helpers/gradle/.gradle
/helpers/gradle/*/.gradle
/helpers/gradle/*/build
/helpers/gradle/*.jar
/helpers/php/vendor
/helpers/php/.php_cs.cache
vendor
.DS_Store
*.pyc
/helpers/elixir/deps
/helpers/elixir/_build
/helpers/python/src
*git.store
