/.bundle/
/.env
/tmp
/pkg
/dependabot-*.gem
Gemfile.lock
/helpers/node_modules
/helpers/gradle/.gradle
/helpers/gradle/*/.gradle
/helpers/gradle/*/build
/helpers/gradle/*.jar
/helpers/php/vendor
/helpers/php/.php_cs.cache
/helpers/go/go-helpers.*64
vendor
.DS_Store
*.pyc
/helpers/elixir/deps
/helpers/elixir/_build
/helpers/python/src
*git.store
.vscode/
/terraform/helpers/install-dir
/go_modules/helpers/install-dir
