/.bundle/
/node_modules
/.env
/.envrc
/tmp
/pkg
/dependabot-*.gem
!bundler/spec/fixtures/projects/**/Gemfile.lock
Gemfile.lock
vendor
!bundler/spec/fixtures/vendored_gems/vendor
!common/spec/fixtures/projects/**/*/vendor
!go_modules/spec/fixtures/projects/**/*
.DS_Store
*.pyc
*git.store
/.vscode/
/.vscode-server/
/.vscode-server-insiders/
.byebug_history
**/helpers/install-dir
/npm_and_yarn/helpers/node_modules
/npm_and_yarn/helpers/.node-version
/dry-run
**/bin/helper
/.core-bash_history
coverage/
.ruby-gemset
.ruby-version
