* @dependabot/maintainers

# Ecosystems
bundler/* @dependabot/ruby-reviewers
cargo/* @dependabot/rust-reviewers
composer/* @dependabot/php-reviewers
docker/* @dependabot/docker-reviewers
elm/* @dependabot/elm-reviewers
go_modules/* @dependabot/go-reviewers
gradle/* @dependabot/java-reviewers
hex/* @dependabot/elixir-reviewers
maven/* @dependabot/java-reviewers
npm_and_yarn/* @dependabot/javascript-reviewers
nuget/* @dependabot/dotnet-reviewers
pub/* @dependabot/dart-reviewers
python/* @dependabot/python-reviewers
terraform/* @dependabot/terraform-reviewers
