---
http_interactions:
  - request:
      method: get
      uri: https://api.opentofu.org/registry/docs/providers/hashicorp/aws/index.json
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json
        last-modified:
          - Fri, 24 Oct 2025 13:55:55 GMT
      body:
        encoding: ASCII-8BIT
        string:
          '{"addr":{"display":"hashicorp/terraform-provider-aws","namespace":"hashicorp","name":"aws"},"warnings":["You
          are using opentofu/aws instead of hashicorp/aws. This provider is maintained
          by HashiCorp and the OpenTofu project only builds the provider binaries from
          the source code. Both the opentofu/ and hashicorp/ namespaces in the OpenTofu
          Registry contain the OpenTofu-built provider binaries based on the HashiCorp
          source code. To avoid configuration errors, we recommend using the hashicorp/
          namespaced providers."],"link":"","canonical_addr":{"display":"opentofu/aws","namespace":"opentofu","name":"aws"},"reverse_aliases":[],"description":"The
          AWS Provider enables Terraform to manage AWS resources.","popularity":10565,"fork_count":9771,"fork_of":{"display":"","namespace":"","name":""},"upstream_popularity":0,"upstream_fork_count":0,"versions":[{"id":"v6.18.0","published":"2025-10-23T19:56:53Z"},{"id":"v6.17.0","published":"2025-10-16T18:37:34Z"},{"id":"v6.16.0","published":"2025-10-09T17:14:32Z"},{"id":"v6.15.0","published":"2025-10-02T18:45:49Z"},{"id":"v6.14.1","published":"2025-09-22T16:27:01Z"},{"id":"v6.14.0","published":"2025-09-18T20:10:52Z"},{"id":"v6.13.0","published":"2025-09-11T18:01:19Z"},{"id":"v6.12.0","published":"2025-09-04T17:16:11Z"},{"id":"v6.11.0","published":"2025-08-28T16:40:35Z"},{"id":"v6.10.0","published":"2025-08-21T19:52:10Z"},{"id":"v[...]
