[submodule "about/documents"]
  path = about/documents
  url = git@github.com:example/documents.git
  branch = gh-pages
[submodule "manifesto"]
  path = manifesto
  url = https://github.com/example/manifesto.git
