---
http_interactions:
- request:
    method: get
    uri: https://forgeapi.puppet.com/v3/modules/puppetlabs-dsc?exclude_fields=readme,license
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Last-Modified:
      - Thu, 25 Apr 2019 16:48:27 GMT
      Etag:
      - '"0ec816f1500f6eab4c6ed3c1b3f7e4e8"'
      X-Node:
      - forgenext-app07-prod
      X-Revision:
      - 81b41a9a
      X-App-Server:
      - forgeapi/forgeapi-forgenext-app07-prod.ops.puppetlabs.net
      X-Lb-Server:
      - forgenext-lb02-prod.ops.puppetlabs.net
      X-Uuid:
      - 47AC2309:CD4B_0AE00633:01BB_5D3F3BBC_1CDD7FAE:6BC9
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "uri": "/v3/modules/puppetlabs-dsc",
          "slug": "puppetlabs-dsc",
          "name": "dsc",
          "downloads": 404562,
          "created_at": "2015-09-02 08:45:26 -0700",
          "updated_at": "2019-04-25 09:48:27 -0700",
          "deprecated_at": null,
          "deprecated_for": null,
          "superseded_by": null,
          "supported": false,
          "endorsement": "supported",
          "module_group": "base",
          "owner": {
            "uri": "/v3/users/puppetlabs",
            "slug": "puppetlabs",
            "username": "puppetlabs",
            "gravatar_id": "fdd009b7c1ec96e088b389f773e87aec"
          },
          "current_release": {
            "uri": "/v3/releases/puppetlabs-dsc-1.9.2",
            "slug": "puppetlabs-dsc-1.9.2",
            "module": {
              "uri": "/v3/modules/puppetlabs-dsc",
              "slug": "puppetlabs-dsc",
              "name": "dsc",
              "deprecated_at": null,
              "owner": {
                "uri": "/v3/users/puppetlabs",
                "slug": "puppetlabs",
                "username": "puppetlabs",
                "gravatar_id": "fdd009b7c1ec96e088b389f773e87aec"
              }
            },
            "version": "1.9.2",
            "metadata": {
              "name": "puppetlabs-dsc",
              "version": "1.9.2",
              "author": "Puppet Inc",
              "summary": "PowerShell Desired State Configuration (DSC)",
              "license": "Apache-2.0",
              "source": "https://github.com/puppetlabs/puppetlabs-dsc",
              "project_page": "https://github.com/puppetlabs/puppetlabs-dsc",
              "issues_url": "https://tickets.puppet.com/browse/MODULES",
              "dependencies": [
                {
                  "name": "puppetlabs/reboot",
                  "version_requirement": ">= 1.2.1 < 3.0.0"
                }
              ],
              "data_provider": null,
              "operatingsystem_support": [
                {
                  "operatingsystem": "windows",
                  "operatingsystemrelease": [
                    "Server 2008 R2",
                    "Server 2012",
                    "Server 2012 R2",
                    "Server 2016",
                    "Server 2019",
                    "7",
                    "8.1",
                    "10"
                  ]
                }
              ],
              "requirements": [
                {
                  "name": "puppet",
                  "version_requirement": ">= 4.7.0 < 7.0.0"
                }
              ],
              "tags": [
                "powershell",
                "desired-state-configuration",
                "dsc"
              ],
              "pdk-version": "1.8.0",
              "template-url": "https://github.com/puppetlabs/pdk-templates.git",
              "template-ref": "heads/master-0-g7281db5"
            },
            "tags": [
              "powershell",
              "dsc",
              "desired-state-configuration"
            ],
            "supported": false,
            "pdk": true,
            "validation_score": 100,
            "file_uri": "/v3/files/puppetlabs-dsc-1.9.2.tar.gz",
            "file_size": 3189038,
            "file_md5": "ea2045ef928af919a1db2d8ef981b43b",
            "file_sha256": "c2483e3a3d5553e584661406a26c054b07b41269e6d1d5229e9769e3fde88485",
            "downloads": 4438,
            "changelog": "# Changelog\n\nAll notable changes to this project will be documented in this file.\n\nThe format is based on [Keep a Changelog](http://keepachangelog.com/en/1.0.0/) and this project adheres to [Semantic Versioning](http://semver.org/spec/v2.0.0.html).\n\n## [Unreleased]\n\n## [1.9.2] - 2019-04-24\n\n### Fixed\n\n- Ensure sensitive values are redacted in debug output and `psdscrunascredential` does not break ([MODULES-8856](https://tickets.puppetlabs.com/browse/MODULES-8856)) - thank you, [@Ge[...]
