---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1539547890'
      Etag:
      - W/"71aeeece87f5a0dcdfe0e16edfd50ab3"
      Last-Modified:
      - Sun, 14 Oct 2018 19:25:41 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMTUzMDA4NTQxOm1hc3Rlcg==","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/master","object":{"sha":"ac7435b25d8c34baa7fff1237aa925878aba0fee","type":"commit","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/commits/ac7435b25d8c34baa7fff1237aa925878aba0fee"}}'
  recorded_at: Sun, 14 Oct 2018 19:33:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/?ref=ac7435b25d8c34baa7fff1237aa925878aba0fee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1539547890'
      Etag:
      - W/"9d4d98484d59a0168da0eb36c21e70f51e2dd0db"
      Last-Modified:
      - Sun, 14 Oct 2018 19:25:41 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"go.mod","path":"go.mod","sha":"3a2e301bf6c88a663a1bf4880591f848027f7341","size":82,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=ac7435b25d8c34baa7fff1237aa925878aba0fee","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/ac7435b25d8c34baa7fff1237aa925878aba0fee/go.mod","git_url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/3a2e301bf6c88a663a1bf4880591f848027f7341","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/go-modules-lib/ac7435b25d8c34baa7fff1237aa925878aba0fee/go.mod","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=ac7435b25d8c34baa7fff1237aa925878aba0fee","git":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/3a2e301bf6c88a663a1bf4880591f848027f7341","html":"https://github.com/dependabot-fixtures/go-modules-lib/blob/ac7435b25d8c34baa7fff1237aa925878aba0fee/go.mod"}},{"name":"go.sum","path":"go.sum","sha":"8ca1633b2d6b54a5c3ba889c167c4617d3ab0ef8","size":499,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.sum?ref=ac7435b25d8c34baa7fff1237aa925878aba0fee","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/ac7435b25d8c34baa7fff1237aa925878aba0fee/go.sum","git_url":"https://api.github.com/repos/dep[...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=ac7435b25d8c34baa7fff1237aa925878aba0fee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.sum?ref=ac7435b25d8c34baa7fff1237aa925878aba0fee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/main.go?ref=ac7435b25d8c34baa7fff1237aa925878aba0fee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
[...]
