---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/dummy-git-dependency.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 14 Dec 2020 17:08:06 GMT
      X-Backend:
      - F_Rails 35.81.98.222:443
      Etag:
      - '"f59670cf8622242bfb55afc03a027238"'
    body:
      encoding: UTF-8
      string: '[{"authors":"Dependabot","built_at":"2019-11-22T00:00:00.000Z","created_at":"2019-11-22T15:24:24.964Z","description":null,"downloads_count":2090,"metadata":{},"number":"1.1.0","summary":"A
        dummy package for testing Dependabot","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"3c1b71569ef54c120b0c1d47704409bf9c63de0d581ad6bbb9521634063d7e2d"},{"authors":"Dependabot","built_at":"2019-11-22T00:00:00.000Z","created_at":"2019-11-22T15:24:41.638Z","description":null,"downloads_count":1517,"metadata":{},"number":"1.0.0","summary":"A
        dummy package for testing Dependabot","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"c020db324e8d21ee9f0e16ffcdc3c025b6da796c4d62e24e952725b76e2b0088"}]'
  recorded_at: Tue, 15 Aug 2023 12:07:29 GMT
- request:
    method: get
    uri: https://github.com/dependabot-fixtures/ruby-dummy-git-dependency.git/info/refs?service=git-upload-pack
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-git-upload-pack-advertisement
    body:
      encoding: ASCII-8BIT
      string: "001e# service=git-upload-pack\n00000155f229d172c826b95f464a82d8ddf8b3efce3825b0
        HEAD\0multi_ack thin-pack side-band side-band-64k ofs-delta shallow deepen-since
        deepen-not deepen-relative no-progress include-tag multi_ack_detailed allow-tip-sha1-in-want
        allow-reachable-sha1-in-want no-done symref=HEAD:refs/heads/master filter
        object-format=sha1 agent=git/github-32046c9f808f\n003ff229d172c826b95f464a82d8ddf8b3efce3825b0
        refs/heads/master\n003e20151f9b67c8a04461fa0ee28385b6187b86587b refs/tags/v1.0.0\n003ec0e25c2eb332122873f73acb3b61fb2e261cfd8f
        refs/tags/v1.1.0\n0000"
  recorded_at: Tue, 15 Aug 2023 12:07:29 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/dummy-git-dependency.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.24.74.243:443
      Etag:
      - '"b2b2df644984fa222ec351016a6a0037"'
    body:
      encoding: UTF-8
      string: '{"name":"dummy-git-dependency","downloads":3607,"version":"1.1.0","version_created_at":"2019-11-22T15:24:24.964Z","version_downloads":2090,"platform":"ruby","authors":"Dependabot","info":"A
        dummy package for testing Dependabot","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"3c1b71569ef54c120b0c1d47704409bf9c63de0d581ad6bbb9521634063d7e2d","project_uri":"https://rubygems.org/gems/dummy-git-dependency","gem_uri":"https://rubygems.org/gems/dummy-git-dependency-1.1.0.gem","homepage_uri":"http://github.com/dependabot/dummy-git-dependency","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/dummy-git-dependency/1.1.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Tue, 15 Aug 2023 12:07:29 GMT
- request:
    method: get
    uri: https://github.com/dependabot/dummy-git-dependency.git/info/refs?service=git-upload-pack
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Www-Authenticate:
      - Basic realm="GitHub"
    body:
      encoding: ASCII-8BIT
      string: Repository not found.
  recorded_at: Tue, 15 Aug 2023 12:07:30 GMT
[...]
- request:
    method: get
    uri: https://github.com/dependabot/dummy-git-dependency.git/info/refs?service=git-upload-pack
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Www-Authenticate:
      - Basic realm="GitHub"
    body:
      encoding: ASCII-8BIT
      string: Repository not found.
  recorded_at: Tue, 15 Aug 2023 12:07:31 GMT
recorded_with: VCR 6.2.0
