---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1544458092'
      Etag:
      - W/"ea87e14ec00ce0c11d9c002c68dbe07f"
      Last-Modified:
      - Thu, 18 Oct 2018 21:49:07 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMTUzMDA4NTQxOm1hc3Rlcg==","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/master","object":{"sha":"160300187fedba9292e56b0277db8fffa369b560","type":"commit","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/commits/160300187fedba9292e56b0277db8fffa369b560"}}'
  recorded_at: Mon, 10 Dec 2018 15:19:24 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/?ref=160300187fedba9292e56b0277db8fffa369b560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1544458092'
      Etag:
      - W/"a14197f437dd2a0c81045f524a916aec93596b94"
      Last-Modified:
      - Thu, 18 Oct 2018 21:49:07 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"go.mod","path":"go.mod","sha":"3a2e301bf6c88a663a1bf4880591f848027f7341","size":82,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=160300187fedba9292e56b0277db8fffa369b560","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/160300187fedba9292e56b0277db8fffa369b560/go.mod","git_url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/3a2e301bf6c88a663a1bf4880591f848027f7341","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/go-modules-lib/160300187fedba9292e56b0277db8fffa369b560/go.mod","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=160300187fedba9292e56b0277db8fffa369b560","git":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/3a2e301bf6c88a663a1bf4880591f848027f7341","html":"https://github.com/dependabot-fixtures/go-modules-lib/blob/160300187fedba9292e56b0277db8fffa369b560/go.mod"}},{"name":"go.sum","path":"go.sum","sha":"8ca1633b2d6b54a5c3ba889c167c4617d3ab0ef8","size":499,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.sum?ref=160300187fedba9292e56b0277db8fffa369b560","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/160300187fedba9292e56b0277db8fffa369b560/go.sum","git_url":"https://api.github.com/repos/dep[...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=160300187fedba9292e56b0277db8fffa369b560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.sum?ref=160300187fedba9292e56b0277db8fffa369b560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/main.go?ref=160300187fedba9292e56b0277db8fffa369b560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
[...]
