---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rubocop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 13 Jul 2023 11:02:41 GMT
      X-Backend:
      - F_Rails 44.229.71.21:443
      Etag:
      - '"d1f4378033d6966704eb6a8baacf9507"'
    body:
      encoding: UTF-8
      string: '[{"authors":"Bozhidar Batsov, Jonas Arvidsson, Yuji Nakayama","built_at":"2023-07-13T00:00:00.000Z","created_at":"2023-07-13T11:02:41.121Z","description":"    RuboCop
        is a Ruby code style checking and code formatting tool.\n    It aims to enforce
        the community-driven Ruby Style Guide.\n","downloads_count":132801,"metadata":{"homepage_uri":"https://rubocop.org/","changelog_uri":"https://github.com/rubocop/rubocop/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/rubocop/rubocop/issues","source_code_uri":"https://github.com/rubocop/rubocop/","documentation_uri":"https://docs.rubocop.org/rubocop/1.54/","rubygems_mfa_required":"true"},"number":"1.54.2","summary":"Automatic
        Ruby code style checking tool.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.7.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"f9884d2335026b22c6341355da508cecd3762ea4180e2cf65edcdd07553284c1"},{"authors":"Bozhidar
        Batsov, Jonas Arvidsson, Yuji Nakayama","built_at":"2023-07-04T00:00:00.000Z","created_at":"2023-07-04T07:34:06.364Z","description":"    RuboCop
        is a Ruby code style checking and code formatting tool.\n    It aims to enforce
        the community-driven Ruby Style Guide.\n","downloads_count":710210,"metadata":{"homepage_uri":"https://rubocop.org/","changelog_uri":"https://github.com/rubocop/r[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rack.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 14 Jun 2023 02:01:53 GMT
      X-Backend:
      - F_Rails 44.229.71.21:443
      Etag:
      - '"d036bd62fd9be73c96e87b117101398b"'
    body:
      encoding: UTF-8
      string: '[{"autho[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/toml-rb.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 15 Jul 2022 09:00:06 GMT
      X-Backend:
      - F_Rails 44.229.71.21:443
      Etag:
      - '"7b4f06968d50f51f6a290ce7dacf9e78"'
    body:
      encoding: UTF-8
      string: '[{"au[...]
