# TODO: Remove these hacks once we've deprecated npm 6 support as it no longer
# spwans a child process to npm install git dependencies.

# Only set our custom CA cert for npm because the system ca's + our custom ca
# causes npm to blow up when installing git dependencies (E2BIG exception). This
# happens because the ca-file contents are passed as a cli argument to npm
# install from npm/cli/lib/pack.js as --ca="contents of ca file" - "ca" is
# populated automatically by npm when setting "--cafile" and passed through in
# when spawning the cli to install git dependencies.
cafile=/usr/local/share/ca-certificates/dbot-ca.crt
# Because npm doesn't pass through all npm config when doing git installs in
# npm/cli/lib/pack.js we also need to disable audit here to prevent npm from
# auditing git dependencies, we do this to sped up installs
audit=false
# Similarly, dry-run and ignore-scripts are also not passed through when doing
# git installs in npm/cli/lib/pack.js so we set dry-run and ignore-scripts to
# prevent any lifecycle hooks for git installs. dry-run disables "prepare" and
# "prepack" scripts, ignore-scripts disables all other scripts
dry-run=true
ignore-scripts=true
