# TODO: Remove these hacks once we've deprecated npm 6 support as it no longer
# spwans a child process to npm install git dependencies.

# Because npm doesn't pass through all npm config when doing git installs in
# npm/cli/lib/pack.js we also need to disable audit here to prevent npm from
# auditing git dependencies, we do this to sped up installs
audit=false
# Similarly, dry-run and ignore-scripts are also not passed through when doing
# git installs in npm/cli/lib/pack.js so we set dry-run and ignore-scripts to
# prevent any lifecycle hooks for git installs. dry-run disables "prepare" and
# "prepack" scripts, ignore-scripts disables all other scripts
dry-run=true
ignore-scripts=true
