# TODO: Remove these hacks once we've deprecated npm 6 support as it no longer
# spwans a child process to npm install git dependencies.
# yarn lockfile v1

# Tell yarn to use the system-wide CA bundle overriding the .npmrc cafile
cafile "/etc/ssl/certs/ca-certificates.crt"
