//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
@dependabot:registry=${REGISTRY_URL}
//dependabot.jfrog.io/dependabot/api/npm/platform-npm/:_password=${NPM_PASSWORD}
//dependabot.jfrog.io/dependabot/api/npm/platform-npm/:username=${NPM_USERNAME}
//dependabot.jfrog.io/dependabot/api/npm/platform-npm/:always-auth=true
always-auth = true
