---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/foo?ref=2b0328507b516c5f06a98581aa99ab1233e37429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7bc49d716dc76df4cc06823ea98a89f64e9c3b62"
      Last-Modified:
      - Thu, 02 Nov 2023 18:12:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1699054863'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Gemfile","path":"foo/Gemfile","sha":"80aaf86231a7aa6fe91b7cd3abae9a6ffa0af3e7","size":114,"url":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/foo/Gemfile?ref=2b0328507b516c5f06a98581aa99ab1233e37429","html_url":"https://github.com/dependabot-fixtures/test-gsu-multi-dir-bundler/blob/2b0328507b516c5f06a98581aa99ab1233e37429/foo/Gemfile","git_url":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/git/blobs/80aaf86231a7aa6fe91b7cd3abae9a6ffa0af3e7","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/test-gsu-multi-dir-bundler/2b0328507b516c5f06a98581aa99ab1233e37429/foo/Gemfile","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/foo/Gemfile?ref=2b0328507b516c5f06a98581aa99ab1233e37429","git":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/git/blobs/80aaf86231a7aa6fe91b7cd3abae9a6ffa0af3e7","html":"https://github.com/dependabot-fixtures/test-gsu-multi-dir-bundler/blob/2b0328507b516c5f06a98581aa99ab1233e37429/foo/Gemfile"}},{"name":"Gemfile.lock","path":"foo/Gemfile.lock","sha":"50344885de87acedf7eda7866192834c71e1d1d2","size":372,"url":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/foo/Gemfile.lock?ref=2b0328507b516c5f06a98581aa99ab1233e37429","html_url":"https://github.com/dependabot-fixtures/test-gsu-multi-dir-bundler/blob/2b0328507b516c5f06a98581aa99ab1233e37429/foo/Gemfile.lock","git_url":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/git/blobs/50344885de87acedf7eda7866192834c71e1d1d2","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/test-gsu-multi-dir-bundler/2b0328507b516c5f06a98581aa99ab1233e37429/foo/Gemfile.lock","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/foo/Gemfile.lock?ref=2b0328507b516c5f06a98581aa99ab1233e37429","git":"https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/git/blobs/50344885de87acedf7eda7866192834c71e1d1d2","html":"https://github.com/dependabot-fixtures/test-gsu-multi-dir-bundler/blob/2b0328507b516c5f06a98581aa99ab1233e37429/foo/Gemfile.lock"}}]'
  recorded_at: Fri, 03 Nov 2023 22:41:03 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/foo/Gemfile.lock?ref=2b0328507b516c5f06a98581aa99ab1233e37429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50344885de87acedf7eda7866192834c71e1d1d2"
      Last-[...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/foo/Gemfile?ref=2b0328507b516c5f06a98581aa99ab1233e37429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80aaf86231a7aa6fe91b7cd3abae9a6ffa0af3e7"
      Last-Modif[...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/bar?ref=2b0328507b516c5f06a98581aa99ab1233e37429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7bc49d716dc76df4cc06823ea98a89f64e9c3b62"
      Last-Modified:
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/bar/Gemfile.lock?ref=2b0328507b516c5f06a98581aa99ab1233e37429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2025b2322ec55572245d3e966978b342f47f1525"
      Last-[...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/test-gsu-multi-dir-bundler/contents/bar/Gemfile?ref=2b0328507b516c5f06a98581aa99ab1233e37429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df203814aa2a6fbb9cbcd206a856a653afac9537"
      Last-Modif[...]
