---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-app/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1544458092'
      Etag:
      - W/"bba20ea253c2d70912a42e5104c87135"
      Last-Modified:
      - Sat, 13 Oct 2018 13:18:51 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMTUyODczNDcxOm1hc3Rlcg==","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-app/git/refs/heads/master","object":{"sha":"b6e38601b9bf3529dab3150ac67b8ae7d2466106","type":"commit","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-app/git/commits/b6e38601b9bf3529dab3150ac67b8ae7d2466106"}}'
  recorded_at: Mon, 10 Dec 2018 15:19:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-app/contents/?ref=b6e38601b9bf3529dab3150ac67b8ae7d2466106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1544458092'
      Etag:
      - W/"b0593392cbafecf4e42de5f079574ab95f043a1a"
      Last-Modified:
      - Sat, 13 Oct 2018 13:18:51 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"32bf89ef85efbbe23192d59d781a916825084cc9","size":16,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-app/contents/.gitignore?ref=b6e38601b9bf3529dab3150ac67b8ae7d2466106","html_url":"https://github.com/dependabot-fixtures/go-modules-app/blob/b6e38601b9bf3529dab3150ac67b8ae7d2466106/.gitignore","git_url":"https://api.github.com/repos/dependabot-fixtures/go-modules-app/git/blobs/32bf89ef85efbbe23192d59d781a916825084cc9","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/go-modules-app/b6e38601b9bf3529dab3150ac67b8ae7d2466106/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/go-modules-app/contents/.gitignore?ref=b6e38601b9bf3529dab3150ac67b8ae7d2466106","git":"https://api.github.com/repos/dependabot-fixtures/go-modules-app/git/blobs/32bf89ef85efbbe23192d59d781a916825084cc9","html":"https://github.com/dependabot-fixtures/go-modules-app/blob/b6e38601b9bf3529dab3150ac67b8ae7d2466106/.gitignore"}},{"name":"README","path":"README","sha":"d7309b5787b3fde91bdf5fe11e675ff2d338e862","size":44,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-app/contents/README?ref=b6e38601b9bf3529dab3150ac67b8ae7d2466106","html_url":"https://github.com/dependabot-fixtures/go-modules-app/blob/b6e38601b9bf3529dab3150ac67b8ae7d2466106/README","git_url":"https://api.github.com/repos/[...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-app/contents/go.mod?ref=b6e38601b9bf3529dab3150ac67b8ae7d2466106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-app/contents/go.sum?ref=b6e38601b9bf3529dab3150ac67b8ae7d2466106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-app/contents/main.go?ref=b6e38601b9bf3529dab3150ac67b8ae7d2466106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
[...]
