---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/integrations/terraform-provider-github/releases
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"0da83710fef48a786b40b278e5d8015edcc759b40fa9fa8831825294e0903f0b"
        x-github-media-type:
          - github.v3; format=json
        link:
          - <https://api.github.com/repositories/93446099/releases?page=2>; rel="next",
            <https://api.github.com/repositories/93446099/releases?page=5>; rel="last"
        x-github-api-version-selected:
          - "2022-11-28"
        x-ratelimit-limit:
          - "60"
        x-ratelimit-remaining:
          - "56"
        x-ratelimit-reset:
          - "1761312643"
        x-ratelimit-resource:
          - core
        x-ratelimit-used:
          - "4"
      body:
        encoding: UTF-8
        string:
          "[{\"url\":\"https://api.github.com/repos/integrations/terraform-provider-github/releases/256476914\",\"assets_url\":\"https://api.github.com/repos/integrations/terraform-provider-github/releases/256476914/assets\",\"upload_url\":\"https://uploads.github.com/repos/integrations/terraform-provider-github/releases/256476914/assets{?name,label}\",\"html_url\":\"https://github.com/integrations/terraform-provider-github/releases/tag/v6.7.0\",\"id\":256476914,\"author\":{\"login\":\"nickfloyd\",\"id\":139819,\"node_id\":\"MDQ6VXNlcjEzOTgxOQ==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/139819?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/nickfloyd\",\"html_url\":\"https://github.com/nickfloyd\",\"followers_url\":\"https://api.github.com/users/nickfloyd/followers\",\"following_url\":\"https://api.github.com/users/nickfloyd/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/nickfloyd/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/nickfloyd/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/nickfloyd/subscriptions\",\"organizations_url\":\"https://api.github.com/users/nickfloyd/orgs\",\"repos_url\":\"https://api.github.com/users/nickfloyd/repos\",\"events_url\":\"https://api.github.com/users/nickfloyd/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/nickfloyd/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":true},\"node_id\":\"RE_kwDOBZHf084PSYby\",\"tag_name\":\"v6.7.0\",\"target_commitish\":\"main\",\"name\":\"v6.7.0\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-10-22T19:01:29Z\",\"updated_at\":\"2025-10-22T19:58:18Z\",\"published_at\":\"2025-10-22T19:52:40Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/integrations/terraform-provider-github/releases/assets/307438285\",\"id\":307438285,\"node_id\":\"RA_kwDOBZHf084SUyLN\",\"name\":\"terraform-provider-github_6.7.0_darwin_amd64.zip\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/zip\",\"state\":\"uploaded\",\"size\":7521265,\"digest\":\"sha256:350c0e996e1650036beaaf2d3e063cb1e8d1693e7fcf7754df6e7453b49c089f\",\"download_count\":1016,\"created_at\":\"2025-10-22T19:58:14Z\",\"updated_at\":\"2025-10-22T19:58:15Z\",\"browser_download_url\":\"https://github.com/integrations/terraform-provider-github/releases/download/v6.7.0/terraform-provider-github_6.7.0_darwin_amd64.zip\"},{\"url\":\"https://api.github.com/repos/integrations/terraform-provider-github/releases/assets/307438281\",\"id\":307438281,\"node_id\":\"RA_kwDOBZHf084SUyLJ\",\"name\":\"terraform-provider-github_6.7.0_darwin_arm64.zip\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://[...]
