pip==25.0.1
pip-tools==7.4.1
flake8==7.1.0
hashin==1.0.3
pipenv==2024.4.1
plette==2.1.0
poetry==2.1.1
# TODO: Replace 3p package `tomli` with 3.11's new stdlib `tomllib` once we drop support for Python 3.10.
tomli==2.0.1

# Some dependencies will only install if Cython is present
Cython==3.0.10
