---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dakrone/clj-http
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f9574093ee326728736210cce88acc8826d2388b0ae3759b058f0a738e1d7d24"
      Last-Modified:
      - Fri, 20 Nov 2020 14:50:48 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1605971669'
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2344720,"node_id":"MDEwOlJlcG9zaXRvcnkyMzQ0NzIw","name":"clj-http","full_name":"dakrone/clj-http","private":false,"owner":{"login":"dakrone","id":19060,"node_id":"MDQ6VXNlcjE5MDYw","avatar_url":"https://avatars3.githubusercontent.com/u/19060?v=4","gravatar_id":"","url":"https://api.github.com/users/dakrone","html_url":"https://github.com/dakrone","followers_url":"https://api.github.com/users/dakrone/followers","following_url":"https://api.github.com/users/dakrone/following{/other_user}","gists_url":"https://api.github.com/users/dakrone/gists{/gist_id}","starred_url":"https://api.github.com/users/dakrone/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dakrone/subscriptions","organizations_url":"https://api.github.com/users/dakrone/orgs","repos_url":"https://api.github.com/users/dakrone/repos","events_url":"https://api.github.com/users/dakrone/events{/privacy}","received_events_url":"https://api.github.com/users/dakrone/received_events","type":"User","site_admin":false},"html_url":"https://github.com/dakrone/clj-http","description":"An
        idiomatic clojure http client wrapping the apache client. Offically supported
        version.","fork":false,"url":"https://api.github.com/repos/dakrone/clj-http","forks_url":"https://api.github.com/repos/dakrone/clj-http/forks","keys_url":"https://api.github.com/repos/dakrone/clj-http/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dakrone/clj-http/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dakrone/clj-http/teams","hooks_url":"https://api.github.com/repos/dakrone/clj-http/hooks","issue_events_url":"https://api.github.com/repos/dakrone/clj-http/issues/events{/number}","events_url":"https://api.github.com/repos/dakrone/clj-http/events","assignees_url":"https://api.github.com/repos/dakrone/clj-http/assignees{/user}","branches_url":"https://api.github.com/repos/dakrone/clj-http/branches{/branch}","tags_url":"https://api.github.com/repos/dakrone/clj-http/tags","blobs_url":"https://api.github.com/repos/dakrone/clj-http/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dakrone/clj-http/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dakrone/clj-http/git/refs{/sha}","trees_url":"https://api.github.com/repos/dakrone/clj-http/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dakrone/clj-http/statuses/{sha}","languages_url":"https://api.github.com/repos/dakrone/clj-http/languages","stargazers_url":"https://api.github.com/repos/dakrone/clj-http/stargazers","contributors_url":"https://api.github.com/repos/dakrone/clj-http/contributors","subscribers_url":"https://api.github.com/repos/dakrone/clj-http/subscribers","subscription_url":"https://api.github.com/repos/dakrone/clj-http/subscription","commits_url":"https://api.github.com/repos/dakrone/clj-http/commits{/sha}","git_commits_url":"https://api.github.com/repos/dakrone/clj-http/git/commits{/sha}","comments_url":"https://api.github.com/repos/dakrone/clj-http/comments{/number}","issue_comment_url":"https://api.github.com/repos/dakrone/clj-http/issues/comments{/number}","contents_url":"https://api.github.com/repos/dakrone/clj-http/contents/{+path}","compare_url":"https://api.github.com/repos/dakrone/clj-http/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dakrone/clj-http/merges","archive_url":"https://api.github.com/repos/dakrone/clj-http/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dakrone/clj-http/downloads","issues_url":"https://api.github.com/repos/dakrone/clj-http/issues{/number}","pulls_url":"https://api.github.com/repos/dakrone/clj-http/pulls{/number}","milestones_url":"https://api.github.com/repos/dakrone/clj-http/milestones{/number}","notifications_url":"https://api.github.com/repos/dakrone/clj-http/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dakrone/clj-http/labels{/name}","releases_url":"https://api.github.com/repos/dakrone/clj-http/releases{/id}","deployments_url":"https://api.github.com/repos/dakrone/clj-http/deployments","created_at":"2011-09-07T21:37:58Z","updated_at":"2020-11-20T14:50:48Z","pushed_at":"2020-11-15T21:11:09Z","git_url":"git://github.com/dakrone/clj-http.git","ssh_url":"git@github.com:dakrone/clj-http.git","clone_url":"https://github.com/dakrone/clj-http.git","svn_url":"https://github.com/dakrone/clj-http","homepage":"http://clojars.org/clj-http","size":1983,"stargazers_count":1517,"watchers_count":1517,"language":"Clojure","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":380,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":44,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":380,"open_issues":44,"watchers":1517,"default_branch":"3.x","temp_clone_token":null,"network_count":380,"subscribers_count":40}'
  recorded_at: Sat, 21 Nov 2020 14:35:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dakrone/clj-http/git/refs/heads/3.x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"831ea6a242f15fcfa5dce435778b5a2b2bc5b8e09a5680e435fa948e477cf115"
      Last-Modified:
      - Fri, 20 Nov 2020 14:50:48 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1605971669'
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/3.x","node_id":"MDM6UmVmMjM0NDcyMDpyZWZzL2hlYWRzLzMueA==","url":"https://api.github.com/repos/dakrone/clj-http/git/refs/heads/3.x","object":{"sha":"65aaa9b9cc2bd2cfd15634d4f4b2cea802852cf2","type":"commit","url":"https://api.github.com/repos/dakrone/clj-http/git/commits/65aaa9b9cc2bd2cfd15634d4f4b2cea802852cf2"}}'
  recorded_at: Sat, 21 Nov 2020 14:35:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dakrone/clj-http/contents/project.clj?ref=65aaa9b9cc2bd2cfd15634d4f4b2cea802852cf2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1e880e1d0ce8abc871a4022d964f9f9686c459f9"
      Last-Modified:
      - Sun, 15 Nov 2020 17:59:51 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1605971669'
      X-Ratelimit-Used:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"project.clj","path":"project.clj","sha":"1e880e1d0ce8abc871a4022d964f9f9686c459f9","size":2907,"url":"https://api.github.com/repos/dakrone/clj-http/contents/project.clj?ref=65aaa9b9cc2bd2cfd15634d4f4b2cea802852cf2","html_url":"https://github.com/dakrone/clj-http/blob/65aaa9b9cc2bd2cfd15634d4f4b2cea802852cf2/project.clj","git_url":"https://api.github.com/repos/dakrone/clj-http/git/blobs/1e880e1d0ce8abc871a4022d964f9f9686c459f9","download_url":"https://raw.githubusercontent.com/dakrone/clj-http/65aaa9b9cc2bd2cfd15634d4f4b2cea802852cf2/project.clj","type":"file","content":"KGRlZnByb2plY3QgY2xqLWh0dHAgIjMuMTEuMS1TTkFQU0hPVCIKICA6ZGVz\nY3JpcHRpb24gIkEgQ2xvanVyZSBIVFRQIGxpYnJhcnkgd3JhcHBpbmcgdGhl\nIEFwYWNoZSBIdHRwQ29tcG9uZW50cyBjbGllbnQuIgogIDp1cmwgImh0dHBz\nOi8vZ2l0aHViLmNvbS9kYWtyb25lL2Nsai1odHRwLyIKICA6bGljZW5zZSB7\nOm5hbWUgIlRoZSBNSVQgTGljZW5zZSIKICAgICAgICAgICAgOnVybCAiaHR0\ncDovL29wZW5zb3VyY2Uub3JnL2xpY2Vuc2VzL21pdC1saWNlbnNlLnBocCIK\nICAgICAgICAgICAgOmRpc3RyaWJ1dGlvbiA6cmVwb30KICA6Z2xvYmFsLXZh\ncnMgeyp3YXJuLW9uLXJlZmxlY3Rpb24qIGZhbHNlfQogIDptaW4tbGVpbi12\nZXJ[...]
