---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/releen/kiln-fixtures/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7c88fcdc7b3cdf1133a7babff1fd0a99"
      Last-Modified:
      - Wed, 10 Jun 2020 21:23:01 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1591828042'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMjcxMzg4MDgxOnJlZnMvaGVhZHMvbWFzdGVy","url":"https://api.github.com/repos/releen/kiln-fixtures/git/refs/heads/master","object":{"sha":"450e8c2be085998e4f9ce2428201c94bf223ad3f","type":"commit","url":"https://api.github.com/repos/releen/kiln-fixtures/git/commits/450e8c2be085998e4f9ce2428201c94bf223ad3f"}}'
  recorded_at: Wed, 10 Jun 2020 21:27:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/releen/kiln-fixtures/contents/?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1a5252e063cbce6200b864e1f4fdb015f66c4429"
      Last-Modified:
      - Wed, 10 Jun 2020 21:23:01 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1591828042'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Kilnfile","path":"Kilnfile","sha":"8b137891791fe96927ad78e64b0aad7bded08bdc","size":1,"url":"https://api.github.com/repos/releen/kiln-fixtures/contents/Kilnfile?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f","html_url":"https://github.com/releen/kiln-fixtures/blob/450e8c2be085998e4f9ce2428201c94bf223ad3f/Kilnfile","git_url":"https://api.github.com/repos/releen/kiln-fixtures/git/blobs/8b137891791fe96927ad78e64b0aad7bded08bdc","download_url":"https://raw.githubusercontent.com/releen/kiln-fixtures/450e8c2be085998e4f9ce2428201c94bf223ad3f/Kilnfile","type":"file","_links":{"self":"https://api.github.com/repos/releen/kiln-fixtures/contents/Kilnfile?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f","git":"https://api.github.com/repos/releen/kiln-fixtures/git/blobs/8b137891791fe96927ad78e64b0aad7bded08bdc","html":"https://github.com/releen/kiln-fixtures/blob/450e8c2be085998e4f9ce2428201c94bf223ad3f/Kilnfile"}},{"name":"Kilnfile.lock","path":"Kilnfile.lock","sha":"8b137891791fe96927ad78e64b0aad7bded08bdc","size":1,"url":"https://api.github.com/repos/releen/kiln-fixtures/contents/Kilnfile.lock?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f","html_url":"https://github.com/releen/kiln-fixtures/blob/450e8c2be085998e4f9ce2428201c94bf223ad3f/Kilnfile.lock","git_url":"https://api.github.com/repos/releen/kiln-fixtu[...]
- request:
    method: get
    uri: https://api.github.com/repos/releen/kiln-fixtures/contents/Kilnfile?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8b137891791fe96927ad78e64b0aad7bded08bdc"
      Last-Modified:
      - Wed, 10 Jun 2020 21:22:58 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1591828042'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Kilnfile","path":"Kilnfile","sha":"8b137891791fe96927ad78e64b0aad7bded08bdc","size":1,"url":"https://api.github.com/repos/releen/kiln-fixtures/contents/Kilnfile?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f","html_url":"https://github.com/releen/kiln-fixtures/blob/450e8c2be085998e4f9ce2428201c94bf223ad3f/Kilnfile","git_url":"https://api.github.com/repos/releen/kiln-fixtures/git/blobs/8b137891791fe96927ad78e64b0aad7bded08bdc","download_url":"https://raw.githubusercontent.com/releen/kiln-fixtures/450e8c2be085998e4f9ce2428201c94bf223ad3f/Kilnfile","type":"file","content":"Cg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/releen/kiln-fixtures/contents/Kilnfile?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f","git":"https://api.github.com/repos/releen/kiln-fixtures/git/blobs/8b137891791fe96927ad78e64b0aad7bded08bdc","html":"https://github.com/releen/kiln-fixtures/blob/450e8c2be085998e4f9ce2428201c94bf223ad3f/Kilnfile"}}'
  recorded_at: Wed, 10 Jun 2020 21:27:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/releen/kiln-fixtures/contents/Kilnfile.lock?ref=450e8c2be085998e4f9ce2428201c94bf223ad3f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8b137891791fe96927ad78e64b0aad7bded08bdc"
      Last-[...]
