pip==18.1
pip-tools==3.1.0
hashin==0.14.0
-e git://github.com/pypa/pipenv.git@b03983e61ef284157c725dfedef02fef5829341f#egg=pipenv
pipfile==0.0.2
poetry==0.12.10

# Some dependencies will only install if Cython is present
Cython==0.29
