---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jpogran/control-repo/git/refs/heads/without-puppetfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1564428746'
      Etag:
      - W/"3a26caa8a47a59577b9f25f4127c05d8"
      Last-Modified:
      - Tue, 10 Oct 2017 00:20:17 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/without-puppetfile","node_id":"MDM6UmVmMTA1MTY5NTE4OndpdGhvdXQtcHVwcGV0ZmlsZQ==","url":"https://api.github.com/repos/jpogran/control-repo/git/refs/heads/without-puppetfile","object":{"sha":"32ec68cacba9b41c0185e413857c1b0cafa84463","type":"commit","url":"https://api.github.com/repos/jpogran/control-repo/git/commits/32ec68cacba9b41c0185e413857c1b0cafa84463"}}'
  recorded_at: Mon, 29 Jul 2019 18:32:24 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jpogran/control-repo/contents/?ref=32ec68cacba9b41c0185e413857c1b0cafa84463
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1564428746'
      Etag:
      - W/"d9783ba8d45a36fdc785b7aabbf833f468d6636d"
      Last-Modified:
      - Tue, 10 Oct 2017 00:20:17 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"897fdc4508c955dd72bab03e042526a5b3d5b1cf","size":43,"url":"https://api.github.com/repos/jpogran/control-repo/contents/.gitignore?ref=32ec68cacba9b41c0185e413857c1b0cafa84463","html_url":"https://github.com/jpogran/control-repo/blob/32ec68cacba9b41c0185e413857c1b0cafa84463/.gitignore","git_url":"https://api.github.com/repos/jpogran/control-repo/git/blobs/897fdc4508c955dd72bab03e042526a5b3d5b1cf","download_url":"https://raw.githubusercontent.com/jpogran/control-repo/32ec68cacba9b41c0185e413857c1b0cafa84463/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/jpogran/control-repo/contents/.gitignore?ref=32ec68cacba9b41c0185e413857c1b0cafa84463","git":"https://api.github.com/repos/jpogran/control-repo/git/blobs/897fdc4508c955dd72bab03e042526a5b3d5b1cf","html":"https://github.com/jpogran/control-repo/blob/32ec68cacba9b41c0185e413857c1b0cafa84463/.gitignore"}},{"name":"LICENSE","path":"LICENSE","sha":"8f71f43fee3f78649d238238cbde51e6d7055c82","size":11358,"url":"https://api.github.com/repos/jpogran/control-repo/contents/LICENSE?ref=32ec68cacba9b41c0185e413857c1b0cafa84463","html_url":"https://github.com/jpogran/control-repo/blob/32ec68cacba9b41c0185e413857c1b0cafa84463/LICENSE","git_url":"https://api.github.com/repos/jpogran/control-repo/git/blobs/8f71[...]
