---
http_interactions:
- request:
    method: get
    uri: https://www.myget.org/F/exceptionless/api/v3/query?prerelease=true&q=microsoft.extensions.dependencymodel&semVerLevel=2.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 01 Mar 2022 18:19:27 GMT
    body:
      encoding: UTF-8
      string: '{"@context":{"@vocab":"http://schema.nuget.org/schema#"},"totalHits":10000,"index":"exceptionless","lastReopen":"2022-03-01T18:19:27.4723741Z","data":[]}'
  recorded_at: Tue, 01 Mar 2022 18:19:27 GMT
recorded_with: VCR 6.0.0
