legacy-peer-deps=true
loglevel=verbose
timeout=90000
fetch-retries=3
fetch-retry-maxtimeout=4
fetch-retry-mintimeout=3
fetch-timeout=400000
_auth = ${NPM_AUTH}
always-auth = true
strict-ssl = true
//npm.fury.io/dependabot/:_authToken=secret_token
