---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/github-action-push-to-another-repository/compare/v1.5.1...96e7dec17bbeed08477b9edab6c3a573614b829d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ff88cb868d510a361597cef89804c9b5e0c1f79e563d2a2586b4423c48800e91"
      last-modified:
      - Mon, 05 Sep 2022 22:33:35 GMT
      x-oauth-scopes:
      - repo, workflow
      x-accepted-oauth-scopes:
      - ''
      github-authentication-token-expiration:
      - 2023-01-20 10:52:26 UTC
      x-github-media-type:
      - github.v3; format=json
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '1668183118'
      x-ratelimit-used:
      - '25'
      x-ratelimit-resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/dependabot-fixtures/github-action-push-to-another-repository/compare/v1.5.1...96e7dec17bbeed08477b9edab6c3a573614b829d","html_url":"https://github.com/dependabot-fixtures/github-action-push-to-another-repository/compare/v1.5.1...96e7dec17bbeed08477b9edab6c3a573614b829d","permalink_url":"https://github.com/dependabot-fixtures/github-action-push-to-another-repository/compare/dependabot-fixtures:74596b7...dependabot-fixtures:96e7dec","diff_url":"https://github.com/dependabot-fixtures/github-action-push-to-another-repository/compare/v1.5.1...96e7dec17bbeed08477b9edab6c3a573614b829d.diff","patch_url":"https://github.com/dependabot-fixtures/github-action-push-to-another-repository/compare/v1.5.1...96e7dec17bbeed08477b9edab6c3a573614b829d.patch","base_commit":{"sha":"74596b72fae72d9b7b79e1b2992863c0f595c801","node_id":"C_kwDOIalVntoAKDc0NTk2YjcyZmFlNzJkOWI3Yjc5ZTFiMjk5Mjg2M2MwZjU5NWM4MDE","commit":{"author":{"name":"Carles
        Pina i Estany","email":"carles@pina.cat","date":"2022-09-05T22:33:35Z"},"committer":{"name":"Carles
        Pina i Estany","email":"carles@pina.cat","date":"2022-09-05T22:33:35Z"},"message":"Link
        to the formatted documentation","tree":{"sha":"87b8f33c14942dbc9b96cb13fc44d65d756077fe","url":"https://api.github.com/repos/dependabot-fixtures/github-action-push-to-another-repository/git/trees/87b8f33c14942dbc9b96cb13fc44d65d756077fe"},"url":"https://api.github.com/repos/dependabot-fixtures/github-action-push-to-another-repository/git/commits/74596b72fae72d9b7b79e1b2992863c0f595c801","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/dependabot-fixtures/github-action-push-to-another-repository/commits/74596b72fae72d9b7b79e1b2992863c0f595c801","html_url":"https://github.com/dependabot-fixtures/github-action-push-to-another-repository/commit/74596b72fae72d9b7b79e1b2992863c0f595c801","comments_url":"https://api.github.com/repos/dependabot-fixtures/github-action-push-to-another-repository/commits/74596b72fae72d9b7b79e1b2992863c0f595c801/comments","author":{"login":"cpina","id":489071,"node_id":"MDQ6VXNlcjQ4OTA3MQ==","avatar_url":"https://avatars.githubusercontent.com/u/489071?v=4","gravatar_id":"","url":"https://api.github.com/users/cpina","html_url":"https://github.com/cpina","followers_url":"https://api.github.com/users/cpina/followers","following_url":"https://api.github.com/users/cpina/following{/other_user}","gists_url":"https://api.github.com/users/cpina/gists{/gist_id}","starred_url":"https://api.github.com/users/cpina/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cpina/subscriptions","organizations_url":"https://api.github.com/users/cpina/orgs","repos_url":"https://api.github.com/users/cpina/repos","events_url":"https://api.github.com/users/cpina/events{/privacy}","received_events_url":"https://api.github.com/users/cpina/received_events","type":"User","site_admin":false},"committer":{"login":"cpina","id":489071,"node_id":"MDQ6VXNlcjQ4OTA3MQ==","avatar_url":"https://avatars.githubusercontent.com/u/489071?v=4","gravatar_id":"","url":"https://api.github.com/users/cpina","html_url":"https://github.com/cpina","followers_url":"https://api.github.com/users/cpina/followers","following_url":"https://api.github.com/users/cpina/following{/other_user}","gists_url":"https://api.github.com/users/cpina/gists{/gist_id}","starred_url":"https://api.github.com/users/cpina/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cpina/subscriptions","organizations_url":"https://api.github.com/users/cpina/orgs","repos_url":"https://api.github.com/users/cpina/repos","events_url":"https://api.github.com/users/cpina/events{/privacy}","received_events_url":"https://api.github.com/users/cpina/received_events","type":"User","site_admin":false},"parents":[{"sha":"9391058a7de9f4d981ee636ea01f1d40088aea32","url":"https://api.github.com/repos/dependabot-fixtures/github-action-push-to-another-repository/commits/9391058a7de9f4d981ee636ea01f1d40088aea32","html_url":"https://github.com/dependabot-fixtures/github-action-push-to-another-repository/commit/9391058a7de9f4d981ee636ea01f1d40088aea32"}]},"merge_base_commit":{"sha":"483689a71cf9d3a0bbdd79d23e00646ef4124391","node_id":"C_kwDOIalVntoAKDQ4MzY4OWE3MWNmOWQzYTBiYmRkNzlkMjNlMDA2NDZlZjQxMjQzOTE","commit":{"author":{"name":"Carles
        Pina i Estany","email":"carles@pina.cat","date":"2022-01-21T16:42:11Z"},"committer":{"name":"Carles
        Pina i Estany","email":"carles@pina.cat","date":"2022-01-21T16:42:11Z"},"message":"Use
        {} in the variable expansion","tree":{"sha":"bb03798fa87fc6955aab9e8553a0de88c63706c4","url":"https://api.github.com/repos[...]
[...]
