---
http_interactions:
- request:
    method: get
    uri: https://registry.terraform.io/.well-known/terraform.json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"modules.v1":"/v1/modules/","providers.v1":"/v1/providers/"}'
  recorded_at: Fri, 28 May 2021 22:08:20 GMT
- request:
    method: get
    uri: https://registry.terraform.io/v1/modules/hashicorp/consul/aws/versions
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"modules":[{"source":"hashicorp/consul/aws","versions":[{"version":"0.7.10","root":{"providers":[{"name":"aws","namespace":"","source":"","version":""},{"name":"template","namespace":"","source":"","version":""}],"dependencies":[]},"submodules":[{"path":"modules/consul-iam-policies","providers":[{"name":"aws","namespace":"","source":"","version":""}],"dependencies":[]},{"path":"modules/consul-client-security-group-rules","providers":[{"name":"aws","namespace":"","source":"","version":""}],"dependencies":[]},{"path":"modules/consul-security-group-rules","providers":[{"name":"aws","namespace":"","source":"","version":""}],"dependencies":[]},{"path":"modules/consul-cluster","providers":[{"name":"aws","namespace":"","source":"","version":""}],"depe[...]
