---
http_interactions:
- request:
    method: get
    uri: https://registry.terraform.io/v1/modules/hashicorp/consul/aws/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 06 May 2021 12:09:27 GMT
    body:
      encoding: UTF-8
      string: '{"modules":[{"source":"hashicorp/consul/aws","versions":[{"version":"0.0.1","root":{"providers":[{"name":"aws","namespace":"","source":"","version":""},{"name":"template","namespace":"","source":"","version":""}],"dependencies":[]},"submodules":[{"path":"modules/consul-iam-policies","providers":[{"name":"aws","namespace":"","source":"","version":""}],"dependencies":[]},{"path":"modules/consul-security-group-rules","providers":[{"name":"aws","namespace":"","source":"","version":""}],"dependencies":[]},{"path":"modules/consul-cluster","providers":[{"name":"aws","namespace":"","source":"","version":""}],"dependencies":[]}]},{"version":"0.9.3","root":{"providers":[{"name":"template","namespace":"","source":"","version":""},{"name":"aws","namespace"[...]
