---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/actions/checkout/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"69fc436233cd6658dd4b8d963178de87"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1591808113'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/actions/checkout/releases/26954742","assets_url":"https://api.github.com/repos/actions/checkout/releases/26954742/assets","upload_url":"https://uploads.github.com/repos/actions/checkout/releases/26954742/assets{?name,label}","html_url":"https://github.com/actions/checkout/releases/tag/v2.2.0","id":26954742,"node_id":"MDc6UmVsZWFzZTI2OTU0NzQy","tag_name":"v2.2.0","target_commitish":"master","name":"v2.2.0","draft":false,"author":{"login":"ericsciple","id":12102068,"node_id":"MDQ6VXNlcjEyMTAyMDY4","avatar_url":"https://avatars1.githubusercontent.com/u/12102068?v=4","gravatar_id":"","url":"https://api.github.com/users/ericsciple","html_url":"https://github.com/ericsciple","followers_url":"https://api.github.com/users/ericsciple/followers","following_url":"https://api.github.com/users/ericsciple/following{/other_user}","gists_url":"https://api.github.com/users/ericsciple/gists{/gist_id}","starred_url":"https://api.github.com/users/ericsciple/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ericsciple/subscriptions","organizations_url":"https://api.github.com/users/ericsciple/orgs","repos_url":"https://api.github.com/users/ericsciple/repos","events_url":"https://api.github.com/users/ericsciple/events{/privacy}","received_events_url":"https://api.github.com/users/ericsciple/received_events","type":"User","site_admin":true},"prerelease":false,"created_at":"2020-05-27T16:37:40Z","published_at":"2020-05-27T16:39:19Z","assets":[],"tarball_url":"https://api.github.com/repos/actions/checkout/tarball/v2.2.0","zipball_url":"https://api.github.com/repos/actions/checkout/zipball/v2.2.0","body":"[Fetch
        all history for all tags and branches when fetch-depth=0](https://github.com/actions/checkout/pull/258)"},{"url":"https://api.github.com/repos/actions/checkout/releases/26674383","assets_url":"https://api.github.com/repos/actions/checkout/releases/26674383/assets","upload_url":"https://uploads.github.com/repos/actions/checkout/releases/26674383/assets{?name,label}","html_url":"https://github.com/actions/checkou[...]
