---
http_interactions:
- request:
    method: get
    uri: https://registry.terraform.io/.well-known/terraform.json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"modules.v1":"/v1/modules/","providers.v1":"/v1/providers/"}'
  recorded_at: Fri, 28 May 2021 23:16:46 GMT
- request:
    method: get
    uri: https://registry.terraform.io/v1/providers/hashicorp/aws/versions
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"hashicorp/aws","versions":[{"version":"1.25.0","protocols":["4"],"platforms":[{"os":"darwin","arch":"amd64"},{"os":"freebsd","arch":"386"},{"os":"freebsd","arch":"amd64"},{"os":"freebsd","arch":"arm"},{"os":"linux","arch":"386"},{"os":"linux","arch":"amd64"},{"os":"linux","arch":"arm"},{"os":"openbsd","arch":"386"},{"os":"openbsd","arch":"amd64"},{"os":"solaris","arch":"amd64"},{"os":"windows","arch":"386"},{"os":"windows","arch":"amd64"}]},{"version":"1.34.0","protocols":["4"],"platforms":[{"os":"darwin","arch":"amd64"},{"os":"freebsd","arch":"386"},{"os":"freebsd","arch":"amd64"},{"os":"free[...]
