---
http_interactions:
- request:
    method: get
    uri: https://registry.terraform.io/v1/providers/hashicorp/aws/3.40.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"hashicorp/aws/3.40.0","owner":"hashicorp","namespace":"hashicorp","name":"aws","alias":"aws","version":"3.40.0","tag":"v3.40.0","description":"terraform-provider-aws","source":"https://github.com/hashicorp/terraform-provider-aws","published_at":"2021-05-13T23:30:28Z","downloads":340736627,"tier":"official","logo_url":"/images/providers/aws.png","versions":["0.1.0","0.1.1","0.1.2","0.1.3","0.1.4","1.0.0","1.1.0","1.2.0","1.3.0","1.3.1","1.4.0","1.5.0","1.6.0","1.7.0","1.7.1","1.8.0","1.9.0","1.10.0","1.11.0","1.12.0","1.13.0","1.14.0","1.14.1","1.15.0","1.16.0","1.17.0","1.18.0","1.19.0","1.20.0","1.21.0","1.22.0","1.23.0","1.24.0","1.25.0","1.26.0","1.27.0","1.28.0","1.29.0","1.30.0","1.31.0","1.32.0","1.33.0","1.34.0","1.35.0","1.36.0","1.37.0","1.38.0","1.39.0","1.40.0","1.41.0","1.42.0","1.43.0","1.43.1","1.43.2","1.44.0","1.45.0","1.46.0","1.[...]
