---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/without-go-sum
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1544458092'
      Etag:
      - W/"76dcb8ad1f20b8bc51c9ec357141fd37"
      Last-Modified:
      - Thu, 18 Oct 2018 21:49:07 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/without-go-sum","node_id":"MDM6UmVmMTUzMDA4NTQxOndpdGhvdXQtZ28tc3Vt","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/refs/heads/without-go-sum","object":{"sha":"b94480975c2aea4cc1cec256a4cca5883d5eb34f","type":"commit","url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/commits/b94480975c2aea4cc1cec256a4cca5883d5eb34f"}}'
  recorded_at: Mon, 10 Dec 2018 15:19:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/?ref=b94480975c2aea4cc1cec256a4cca5883d5eb34f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1544458092'
      Etag:
      - W/"3e7932a3aba0651ed0253489e6869627a8a2ec31"
      Last-Modified:
      - Thu, 18 Oct 2018 21:49:07 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"go.mod","path":"go.mod","sha":"3a2e301bf6c88a663a1bf4880591f848027f7341","size":82,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=b94480975c2aea4cc1cec256a4cca5883d5eb34f","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/b94480975c2aea4cc1cec256a4cca5883d5eb34f/go.mod","git_url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/3a2e301bf6c88a663a1bf4880591f848027f7341","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/go-modules-lib/b94480975c2aea4cc1cec256a4cca5883d5eb34f/go.mod","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=b94480975c2aea4cc1cec256a4cca5883d5eb34f","git":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/3a2e301bf6c88a663a1bf4880591f848027f7341","html":"https://github.com/dependabot-fixtures/go-modules-lib/blob/b94480975c2aea4cc1cec256a4cca5883d5eb34f/go.mod"}},{"name":"main.go","path":"main.go","sha":"fe50cd1cd5a72c588d896251c4a0b511cccdc56b","size":94,"url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/main.go?ref=b94480975c2aea4cc1cec256a4cca5883d5eb34f","html_url":"https://github.com/dependabot-fixtures/go-modules-lib/blob/b94480975c2aea4cc1cec256a4cca5883d5eb34f/main.go","git_url":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/fe50cd1cd5a72c588d896251c4a0b511cccdc56b","download_url":"https://raw.githubusercontent.com/dependabot-fixtures/go-modules-lib/b94480975c2aea4cc1cec256a4cca5883d5eb34f/main.go","type":"file","_links":{"self":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/main.go?ref=b94480975c2aea4cc1cec256a4cca5883d5eb34f","git":"https://api.github.com/repos/dependabot-fixtures/go-modules-lib/git/blobs/fe50cd1cd5a72c588d896251c4a0b511cccdc56b","html":"https://github.com/dependabot-fixtures/go-modules-lib/blob/b94480975c2aea4cc1cec256a4cca5883d5eb34f/main.go"}}]'
  recorded_at: Mon, 10 Dec 2018 15:19:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/go.mod?ref=b94480975c2aea4cc1cec256a4cca5883d5eb34f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/dependabot-fixtures/go-modules-lib/contents/main.go?ref=b94480975c2aea4cc1cec256a4cca5883d5eb34f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
[...]
