---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3-flatcontainer/microsoft.extensions.dependencymodel/1.1.0/microsoft.extensions.dependencymodel.nuspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml
      last-modified:
      - Thu, 13 Dec 2018 22:10:02 GMT
      etag:
      - '0x8D66147BAF053F9'
      x-ms-version:
      - '2009-09-19'
      x-ms-lease-status:
      - unlocked
      x-ms-blob-type:
      - BlockBlob
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<package xmlns=\"http://schemas.microsoft.com/packaging/2012/06/nuspec.xsd\">\r\n
        \ <metadata>\r\n    <id>Microsoft.Extensions.DependencyModel</id>\r\n    <version>1.1.0</version>\r\n
        \   <authors>Microsoft.Extensions.DependencyModel</authors>\r\n    <owners>Microsoft.Extensions.DependencyModel</owners>\r\n
        \   <requireLicenseAcceptance>false</requireLicenseAcceptance>\r\n    <description>Abstractions
        for reading `.deps` files.</description>\r\n    <tags></tags>\r\n    <serviceable>true</serviceable>\r\n
        \   <dependencies>\r\n      <group targetFramework=\".NETFramework4.5.1\">\r\n
        \       <dependency id=\"Microsoft.DotNet.PlatformAbstractions\" version=\"[1.1.0,
        )\" />\r\n        <dependency id=\"Newtonsoft.Json\" version=\"[9.0.1, )\"
        />\r\n      </group>\r\n      <group targetFramework=\".NETStandard1.3\">\r\n
        \       <dependency id=\"System.Diagnostics.Debug\" version=\"[4.0.11, )\"
        />\r\n        <dependency id=\"System.Dynamic.Runtime\" version=\"[4.0.11,
        )\" />\r\n        <dependency id=\"System.Linq\" version=\"[4.1.0, )\" />\r\n
        \       <dependency id=\"Microsoft.DotNet.PlatformAbstractions\" version=\"[1.1.0,
        )\" />\r\n        <dependency id=\"Newtonsoft.Json\" version=\"[9.0.1, )\"
        />\r\n      </group>\r\n      <group targetFramework=\".NETStandard1.6\">\r\n
        \       <dependency id=\"System.Diagnostics.Debug\" version=\"[4.0.11, )\"
        />\r\n        <dependency id=\"System.Dynamic.Runtime\" version=\"[4.0.11,
        )\" />\r\n        <dependency id=\"System.Linq\" version=\"[4.1.0, )\" />\r\n
        \       <dependency id=\"Microsoft.DotNet.PlatformAbstractions\" version=\"[1.1.0,
        )\" />\r\n        <dependency id=\"Newtonsoft.Json\" version=\"[9.0.1, )\"
        />\r\n      </group>\r\n    </dependencies>\r\n  </metadata>\r\n</package>"
  recorded_at: Thu, 27 Jul 2023 16:33:51 GMT
[...]
