name: CI
on:
  push:
    branches:
      - "actions/*"
      - "wip/*"
      - "main"
  pull_request:
    branches:
      - "actions/*"
  pull_request_target:
    branches-ignore:
      - "actions/*"
jobs:
  ci-image:
    name: Build CI image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Prepare environment variables
        run: |
          echo ::set-env name=VERSION::$(grep -Eo "[0-9]+\.[0-9]+\.[0-9]+" common/lib/dependabot/version.rb)
      - name: Pull Docker base images & warm Docker cache
        run: |
          docker pull ubuntu:18.04
          docker pull "dependabot/dependabot-core:latest"
      - name: Build dependabot-core image
        run: |
          docker build \
            -t "dependabot/dependabot-core:latest" \
            --cache-from ubuntu:18.04 \
            --cache-from "dependabot/dependabot-core:latest" \
            .
      - name: Build dependabot-core-ci image
        run: |
          rm .dockerignore
          docker build \
            -t "docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }}" \
            -f Dockerfile.ci \
            --cache-from ubuntu:18.04 \
            --cache-from "dependabot/dependabot-core:latest" \
            .
      - name: Push image to packages
        run: |
          docker login docker.pkg.github.com -u x -p ${{ secrets.GITHUB_TOKEN }}
          docker push "docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }}"

  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    needs: ci-image
    strategy:
      matrix:
        suite:
          - bundler
          - cargo
          - common
          - composer
          - dep
          - docker
          - elm
          - git_submodules
          - github_actions
          - go_modules
          - gradle
          - hex
          - maven
          - npm_and_yarn
          - nuget
          - omnibus
          - python
          - terraform
    steps:
      - name: Pull image from packages
        run: |
          docker login docker.pkg.github.com -u x -p ${{ secrets.GITHUB_TOKEN }}
          docker pull "docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }}"
      - name: Run Rubocop linting
        run: |
          docker run --rm docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }} bash -c "cd /home/dependabot/dependabot-core/${{ matrix.suite }} && bundle exec rubocop . -c ../.rubocop.yml"

  rspec:
    name: Rspec
    runs-on: ubuntu-latest
    needs: ci-image
    strategy:
      matrix:
        suite:
          - bundler
          - cargo
          - common
          - composer
          - dep
          - docker
          - elm
          - git_submodules
          - github_actions
          - go_modules
          - gradle
          - hex
          - maven
          - npm_and_yarn
          - nuget
          - omnibus
          - python
          - terraform

    steps:
      - name: Pull image from packages
        run: |
          docker login docker.pkg.github.com -u x -p ${{ secrets.GITHUB_TOKEN }}
          docker pull "docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }}"
      - name: Run ${{ matrix.suite }} tests with rspec
        run: |
          docker run --rm docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }} bash -c "cd /home/dependabot/dependabot-core/${{ matrix.suite }} && bundle exec rspec spec"

  npm-and-yarn-js:
    name: npm and yarn js
    runs-on: ubuntu-latest
    needs: ci-image
    steps:
      - name: Pull image from packages
        run: |
          docker login docker.pkg.github.com -u x -p ${{ secrets.GITHUB_TOKEN }}
          docker pull "docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }}"
      - name: Run js linting
        run: |
           docker run --rm docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }} bash -c "cd /opt/npm_and_yarn && yarn lint"
      - name: Run js tests
        run: |
           docker run --rm docker.pkg.github.com/${{ github.repository }}/dependabot-core-ci:${{ github.sha }} bash -c "cd /opt/npm_and_yarn && yarn test"
