name: Dependency Review
on:
  # yamllint disable-line rule:truthy
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '*/spec/fixtures/**'
      - '*/helpers/test/*/fixtures/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Perform Dependency Review
        uses: actions/dependency-review-action@v4
