name: Sorbet
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sorbet:
    name: Sorbet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ruby/setup-ruby@4a9ddd6f338a97768b8006bf671dfbad383215f4 # v1.207.0
        with:
          bundler-cache: true

      - run: bundle exec tapioca gem --verify

      - run: bundle exec srb tc

      - run: bundle exec spoom srb coverage

      - run: |
          bundle exec spoom srb bump --from=false --to=true --dry
          bundle exec spoom srb bump --from=true --to=strict --dry
          bundle exec spoom srb bump --from=strict --to=strong --dry

      - run: bundle exec spoom srb coverage snapshot --save

      - if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: spoom_data
          path: ./spoom_data/

      - if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: ./script/generate-coverage-report
        env:
          GH_TOKEN: ${{ github.token }}

      - if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: spoom_report
          path: ./spoom_report.html
